@media screen and (max-width: 767px) {
  th:first-of-type {
    border-bottom: none;
  }
  tr.cs-table {
    display: grid !important;
    grid-template-columns: auto 1fr !important;
    grid-gap: 10px 10px !important;
    border-bottom: 1px solid #f2f4f6;
    padding: 10px 0;
  }
  tr.cs-table td {
    border: none;
    padding: 0;
  }
}
